@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .alert-error, .alert-error h3, .alert-error button.close:hover {
        color: #833333;
        background-color: #f2dede;
        border-color: #eed3d7;
    }
</style>
<div class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-inner">
            <ul class="list-inline list-unstyled">
                <li><a href="/Home">Home</a></li>
                <li class='active'>Quên Mật Khẩu</li>
            </ul>
        </div><!-- /.breadcrumb-inner -->
    </div><!-- /.container -->
</div><!-- /.breadcrumb -->

<div class="body-content">
    <div class="container">
        <div class="track-order-page">
            <div class="row">
                <div class="span12">
                    <div class="wrapper">
                        @if (TempData["Error"] != null)//kiểm tra thông báo để hiển thị
                        {
                        <div class="alert alert-error alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <h3>Thất bại</h3>
                            @TempData["Error"]
                        </div>
                        }
                        else if (TempData["Success"] != null)
                        {
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <h3>Thành công</h3>
                            @TempData["Success"]
                        </div>

                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 class="heading-title">Đặt Lại Mật Khẩu</h2>
                    <span class="title-tag inner-top-ss">Nhập Lại Email để đăng Kí Lại Mật Khẩu*</span>
                    @using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post))
                    {
                        <div class="form-group">
                            <input type="email" name="email" class="form-control unicase-form-control text-input" id="exampleBillingEmail1" placeholder="Email">
                        </div>
                        <button type="submit" class="btn-upper btn btn-primary checkout-page-button">Lấy Lại Mật Khẩu</button>
                    }
                </div>
            </div><!-- /.row -->
        </div><!-- /.sigin-in-->
    </div>
</div>


