
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <div class="body-content outer-top-xs" id="top-banner-and-menu">
        <div class="container">
            <div class="row">
                <!-- ============================================== SIDEBAR ============================================== -->
                <!-- /.sidemenu-holder -->
                <!-- ============================================== SIDEBAR : END ============================================== -->
                <!-- ============================================== CONTENT ============================================== -->
                <div class="col-xs-12 col-sm-12 col-md-12 homebanner-holder">
                    <!-- ========================================== SECTION – HERO ========================================= -->
                    @{Html.RenderPartial("Slide", "Shared");}
                    <!-- ========================================= SECTION – HERO : END ========================================= -->
                    <!-- ============================================== INFO BOXES ============================================== -->
                    <div class="info-boxes wow fadeInUp">
                        <div class="info-boxes-inner">
                            <div class="row">
                                <div class="col-md-6 col-sm-4 col-lg-4">
                                    <div class="info-box">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <h4 class="info-box-heading green"> Bảo Hành vàng 12 tháng </h4>
                                            </div>
                                        </div>
                                        <h6 class="text"> Hoàn tiền nếu máy lỗi do nhà sản xuất, tặng kèm cáp,sạc,tai nghe </h6>
                                    </div>
                                </div>
                                <!-- .col -->

                                <div class="hidden-md col-sm-4 col-lg-4">
                                    <div class="info-box">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <h4 class="info-box-heading green">Miễn Phí Ship</h4>
                                            </div>
                                        </div>
                                        <h6 class="text">Những sản phẩm trên 10 triệu đồng</h6>
                                    </div>
                                </div>
                                <!-- .col -->

                                <div class="col-md-6 col-sm-4 col-lg-4">
                                    <div class="info-box">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <h4 class="info-box-heading green">Giảm Giá Đặc Biệt</h4>
                                            </div>
                                        </div>
                                        <h6 class="text">5% cho những mặt hàng là Xiaomi trong ngày hôm nay</h6>
                                    </div>
                                </div>
                                <!-- .col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.info-boxes-inner -->

                    </div>
                    <!-- /.info-boxes -->
                    <!-- ============================================== INFO BOXES : END ============================================== -->
                    <!-- ============================================== SCROLL TABS ============================================== -->
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="sidebar-widget hot-deals wow fadeInUp outer-bottom-xs animated" style="visibility: visible; animation-name: fadeInUp;">
                                <h3 class="section-title">Tin Công nghệ</h3>
                                <div class="owl-carousel sidebar-carousel custom-carousel owl-theme outer-top-ss" style="opacity: 1; display: block;">

                                    <div class="owl-wrapper-outer">
                                        <div class="owl-wrapper" style="width: 1338px; left: 0px; display: block;">
                                            <div class="owl-item" style="width: 223px;">
                                                <div class="item">
                                                    <div class="products">
                                                        <div class="hot-deal-wrapper">
                                                            <div class="image">
                                                                <a href="https://www.youtube.com/watch?v=8LViqsAxXxk" target="_blank">
                                                                    <img src="https://cdn.didongthongminh.vn/upload_images/2018/11/mi-8-lite-di-dong-thong-minh-300x169.jpg" alt="" style="max-width: 100%; height: auto;" width="260" height="180">
                                                                </a>
                                                            </div>
                                                        </div><!-- /.hot-deal-wrapper -->

                                                        <div class="product-info text-left m-t-20">
                                                            <h3 class="name"><a href="detail.html">Smartphone chính hãng đẹp nhất giá hơn 5 triệu, S660, Cam selfie 24MP</a></h3>
                                                        </div><!-- /.product-info -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="owl-item" style="width: 223px;">
                                                <div class="item">
                                                    <div class="products">
                                                        <div class="hot-deal-wrapper">
                                                            <div class="image">
                                                                <a href="https://www.youtube.com/watch?v=8LViqsAxXxk" target="_blank">
                                                                    <img src="https://cdn.didongthongminh.vn/upload_images/2018/11/Xiaomi-remi-note-5-pro-di-dong-thong-minh-300x169.jpg" alt="" style="max-width: 100%; height: auto;" width="260" height="180">
                                                                </a>
                                                            </div>
                                                        </div><!-- /.hot-deal-wrapper -->

                                                        <div class="product-info text-left m-t-20">
                                                            <h3 class="name"><a href="detail.html">Smartphone chính hãng đẹp nhất giá hơn 5 triệu, S660, Cam selfie 24MP</a></h3>
                                                        </div><!-- /.product-info -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="owl-item" style="width: 223px;">
                                                <div class="item">
                                                    <div class="products">
                                                        <div class="hot-deal-wrapper">
                                                            <div class="image">
                                                                <a href="https://www.youtube.com/watch?v=8LViqsAxXxk" target="_blank">
                                                                    <img src="https://cdn.didongthongminh.vn/upload_images/2018/11/mi-8-lite-di-dong-thong-minh-300x169.jpg" alt="" style="max-width: 100%; height: auto;" width="260" height="180">
                                                                </a>
                                                            </div>
                                                        </div><!-- /.hot-deal-wrapper -->

                                                        <div class="product-info text-left m-t-20">
                                                            <h3 class="name"><a href="detail.html">Smartphone chính hãng đẹp nhất giá hơn 5 triệu, S660, Cam selfie 24MP</a></h3>
                                                        </div><!-- /.product-info -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-controls clickable"><div class="owl-buttons"><div class="owl-prev"></div><div class="owl-next"></div></div></div>
                                </div><!-- /.sidebar-widget -->
                            </div>
                            <div>
                                <img src="https://msmobile.com.vn/images/banners/original/bh-xiaomi-15th_1538472797_1542335195.png" alt="" style="width: 100%; height: 100px">
                            </div>
                            <div>
                                <img class="video" src="https://msmobile.com.vn/images/video/resized/banner-iphone_1527507844.jpg" alt="5 CÁCH CHỌN MUA IPHONE" link-video="https://www.youtube.com/embed/YrUadbp66b8" style="width: 100%; height: 130px">
                            </div>
                        </div>

                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                            <div id="product-tabs-slider" class="scroll-tabs outer-top-vs wow fadeInUp">
                                <div class="more-info-tab clearfix ">
                                    <h3 class="new-product-title pull-left">Sản phẩm mới</h3>
                                    <ul class="nav nav-tabs nav-tab-line pull-right" id="new-products-1">
                                        @*<li class="active"><a data-transition-type="backSlide" href="#all" data-toggle="tab">All</a></li>
                                            <li><a data-transition-type="backSlide" href="#smartphone" data-toggle="tab">Clothing</a></li>
                                            <li><a data-transition-type="backSlide" href="#laptop" data-toggle="tab">Electronics</a></li>
                                            <li><a data-transition-type="backSlide" href="#apple" data-toggle="tab">Shoes</a></li>*@
                                    </ul>
                                    <!-- /.nav-tabs -->
                                </div>
                                <!-- ================================ New Product ==================================================    -->
                                @{Html.RenderAction("NewProduct", "Product");}
                                <!-- /.tab-content -->
                            </div>
                        </div>
                    </div>
                    <!-- /.scroll-tabs -->
                    <!-- ============================================== SCROLL TABS : END ============================================== -->
                    <!-- ============================================== FEATURED PRODUCTS ============================================== -->
                    <section class="section featured-product wow fadeInUp">
                        <h3 class="section-title">Sản phẩm nổi bật</h3>
                        <div class="owl-carousel home-owl-carousel custom-carousel owl-theme outer-top-xs">
                            @{Html.RenderAction("FeaturedProduct", "Product");}
                            <!-- /.item -->
                        </div>
                        <!-- /.home-owl-carousel -->
                    </section>
                    <!-- /.section -->
                    <!-- ============================================== FEATURED PRODUCTS : END ============================================== -->
                    <!-- ============================================== Sale Products ============================================== -->

                    <section class="section featured-product wow fadeInUp">
                        <h3 class="section-title">Sản phẩm giảm giá</h3>
                        <div class="owl-carousel best-seller custom-carousel owl-theme outer-top-xs">
                            @{Html.RenderAction("SaleProduct", "Product");}
                        </div>
                        <!-- /.sidebar-widget-body -->
                    </section>
                    <!-- /.sidebar-widget -->
                    <!-- ============================================== Sale Products : END ============================================== -->
                    <!-- ============================================== Best Saleler ============================================== -->

                    <div class="best-deal wow fadeInUp outer-bottom-xs">
                        <h3 class="section-title">Sản phẩm bán chạy</h3>
                        <div class="sidebar-widget-body outer-top-xs">
                            <div class="owl-carousel best-seller custom-carousel owl-theme outer-top-xs">
                                @{ Html.RenderAction("BestSeller", "Product");}
                            </div>
                        </div>
                    </div>
                    <!-- ============================================== Best Seller : END ============================================== -->
                    <!-- ============================================== FEATURED PRODUCTS ============================================== -->
                    <section class="section wow fadeInUp new-arriavls">
                        <h3 class="section-title">Sản Phẩm Gần Đây</h3>
                        <div class="owl-carousel home-owl-carousel custom-carousel owl-theme outer-top-xs">
                            @{Html.RenderAction("RecentProduct", "Product");}
                        </div>
                        <!-- /.home-owl-carousel -->
                    </section>
                    <!-- /.section -->
                    <!-- ============================================== FEATURED PRODUCTS : END ============================================== -->

                </div>
                <!-- /.homebanner-holder -->
                <!-- ============================================== CONTENT : END ============================================== -->
            </div>
            <!-- /.row -->
            <!-- ============================================== BRANDS CAROUSEL ============================================== -->
            <div id="brands-carousel" class="logo-slider wow fadeInUp">
                <div class="logo-slider-inner">
                    <div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme">
                        <div class="item m-t-15"> <a href="#" class="image"> <img data-echo="assets/images/brands/brand1.png" src="assets/images/blank.gif" alt=""> </a> </div>
                        <!--/.item-->

                        <div class="item m-t-10"> <a href="#" class="image"> <img data-echo="assets/images/brands/brand2.png" src="assets/images/blank.gif" alt=""> </a> </div>
                        <!--/.item-->

                        <div class="item"> <a href="#" class="image"> <img data-echo="assets/images/brands/brand3.png" src="assets/images/blank.gif" alt=""> </a> </div>
                        <!--/.item-->

                        <div class="item"> <a href="#" class="image"> <img data-echo="assets/images/brands/brand4.png" src="assets/images/blank.gif" alt=""> </a> </div>
                        <!--/.item-->

                        <div class="item"> <a href="#" class="image"> <img data-echo="assets/images/brands/brand5.png" src="assets/images/blank.gif" alt=""> </a> </div>
                        <!--/.item-->

                        <div class="item"> <a href="#" class="image"> <img data-echo="assets/images/brands/brand6.png" src="assets/images/blank.gif" alt=""> </a> </div>
                        <!--/.item-->

                        <div class="item"> <a href="#" class="image"> <img data-echo="assets/images/brands/brand2.png" src="assets/images/blank.gif" alt=""> </a> </div>
                        <!--/.item-->

                        <div class="item"> <a href="#" class="image"> <img data-echo="assets/images/brands/brand4.png" src="assets/images/blank.gif" alt=""> </a> </div>
                        <!--/.item-->

                        <div class="item"> <a href="#" class="image"> <img data-echo="assets/images/brands/brand1.png" src="assets/images/blank.gif" alt=""> </a> </div>
                        <!--/.item-->

                        <div class="item"> <a href="#" class="image"> <img data-echo="assets/images/brands/brand5.png" src="assets/images/blank.gif" alt=""> </a> </div>
                        <!--/.item-->
                    </div>
                    <!-- /.owl-carousel #logo-slider -->
                </div>
                <!-- /.logo-slider-inner -->

            </div>
            <!-- /.logo-slider -->
            <!-- ============================================== BRANDS CAROUSEL : END ============================================== -->
        </div>
        <!-- /.container -->
    </div>
</section>

